.sidebar {
  min-width: 300px;
  height: 100%;
  background: #f7f7f9;
  border-right: 1px solid #e2e2e2;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
}

.sidebar_links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar_link {
  display: block;
  padding: 12px 16px;
  border-radius: 10px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover {
    background: #eaeaf0;
    transform: translateX(3px);
  }
}

.active {
  background: #efefef;
  color: #575757;
}

.button_reset {
  background: none;
  color: gray;
  border: none;
  width: 100%;
  text-align: left;
  font: inherit;
}

.disabled {
  color: #a1a1aa;
  cursor: not-allowed;
  background: #f3f4f6;
  pointer-events: none;
  font-style: italic;

  &:hover {
    transform: none;
    background: #f3f4f6;
  }
}
