.header {
  height: 70px;
  padding: 0 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: white;
  border-bottom: 1px solid #f0f0f0;

  box-shadow: 0 4px 20px rgba(0,0,0,0.03);
}

/* ===== BRAND ===== */

.brand {
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;

  background: linear-gradient(90deg, #5a67ff, #7c3aed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transition: 0.2s;

  &:hover {
    opacity: 0.8;
  }
}

/* ===== NAVIGATION ===== */

.nav {
  display: flex;
  gap: 30px;
}

.link {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: #444;

  transition: 0.2s;

  &:hover {
    color: #5a67ff;
  }
}

/* ===== AUTH BLOCK ===== */

.auth {
  display: flex;
  gap: 15px;
}

/* Вход */

.login {
  padding: 8px 16px;
  border-radius: 8px;

  text-decoration: none;
  font-size: 14px;
  font-weight: 500;

  color: #5a67ff;
  background: #eef2ff;

  transition: 0.25s;

  &:hover {
    background: #dbe3ff;
  }
}

/* Регистрация */

.register {
  padding: 8px 18px;
  border-radius: 10px;

  text-decoration: none;
  font-size: 14px;
  font-weight: 600;

  background: #5a67ff;
  color: white;

  box-shadow: 0 6px 16px rgba(90, 103, 255, 0.25);

  transition: 0.25s;

  &:hover {
    background: #434fe0;
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(90, 103, 255, 0.35);
  }

  &:active {
    transform: translateY(0);
  }
}
